openapi: 3.0.0
info:
  title: client
  version: '1.0'
servers:
  - url: 'http://nfcstage.appskeeper.com/api'
paths:
  /apiversion:
    get:
      summary: Current app version
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  result:
                    $ref: '#/components/schemas/ApiVersionModel'
                required:
                  - code
                  - msg
                  - result
              examples:
                example:
                  value:
                    code: 200
                    msg: Success
                    result:
                      version_name: '1.1'
                      platform: '1'
                      update_type: '1'
            application/xml:
              schema:
                type: object
                properties: {}
              examples: {}
      operationId: get-api-version
      description: API to get the current version of the application
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                platform:
                  type: string
              required:
                - platform
      parameters:
        - schema:
            type: string
          in: header
          name: Accesstoken
          description: User identification
          required: true
    parameters: []
  /normal:
    post:
      summary: Sign Up for client
      operationId: post-normal
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                login_type:
                  type: string
                password:
                  type: string
                full_name:
                  type: string
                shoes_size:
                  type: string
                device_id:
                  type: string
                user_type:
                  type: string
                device_token:
                  type: string
                device_type:
                  type: string
                email:
                  type: string
                image:
                  type: string
              required:
                - login_type
                - password
                - full_name
                - shoes_size
                - device_id
                - user_type
                - device_token
                - email
            examples: {}
      description: ''
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
        - schema:
            type: string
          in: header
          name: content-type
          description: ''
      tags:
        - authorization
    parameters: []
  /login:
    post:
      summary: Sign In
      operationId: post-login
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  result:
                    type: object
                    required:
                      - access_token
                      - login_type
                    properties:
                      access_token:
                        type: string
                      login_type:
                        type: string
                  msg:
                    type: string
                required:
                  - code
                  - result
                  - msg
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                login_type:
                  type: string
                device_type:
                  type: string
                device_id:
                  type: string
                email:
                  type: string
                password:
                  type: string
                device_token:
                  type: string
              required:
                - login_type
                - device_type
                - device_id
                - email
                - password
                - device_token
      description: Api for authorization
      tags:
        - authorization
  /plateformlist:
    get:
      summary: Get sales platform list
      tags:
        - Profile
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: object
                    required:
                      - selling_platefrom_id
                      - selling_plateform_title
                    properties:
                      selling_platefrom_id:
                        type: integer
                      selling_plateform_title:
                        type: string
                required:
                  - code
                  - msg
                  - result
      operationId: get-plateformlist
      description: Api for merchant account
      parameters:
        - schema:
            type: string
          in: header
          name: Accesstoken
          description: User identification
          required: true
  /merchant:
    post:
      summary: Create merchant account
      operationId: post-merchant
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: object
                required:
                  - code
                  - msg
                  - result
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                full_name:
                  type: string
                email:
                  type: string
                phone:
                  type: string
                login_type:
                  type: string
                user_type:
                  type: string
                device_type:
                  type: string
                user_lat:
                  type: string
                user_long:
                  type: string
                address:
                  type: string
                website:
                  type: string
                selling_plateform:
                  type: string
                sales_per_month:
                  type: string
                year_since_first_sale:
                  type: string
                store_name:
                  type: string
                device_token:
                  type: string
                device_id:
                  type: string
                image:
                  type: string
              required:
                - full_name
                - email
                - phone
                - login_type
                - user_type
                - device_type
                - user_lat
                - user_long
                - address
                - year_since_first_sale
                - device_token
                - device_id
      parameters:
        - schema:
            type: string
          in: header
          name: Accesstoken
          description: User identification
          required: true
      description: ''
      tags:
        - authorization
  /forgot:
    post:
      summary: Forgot password
      operationId: post-forgot
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                required:
                  - code
                  - msg
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
              required:
                - email
      description: API for authorization changes
      tags:
        - password
  /userproductdetail:
    get:
      summary: Get product detail info for client
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  result:
                    $ref: '#/components/schemas/ProductDetail'
                required:
                  - code
                  - msg
                  - result
              examples: {}
      operationId: get-userproductdetail
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                nfc_id:
                  type: string
              required:
                - nfc_id
      parameters:
        - schema:
            type: string
          in: header
          name: Accesstoken
          description: User identification
          required: true
  /productdetail:
    get:
      summary: Get product detail info for client
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  result:
                    $ref: '#/components/schemas/ProductDetail'
                required:
                  - code
                  - msg
                  - result
      operationId: get-productdetail
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                nfc_id:
                  type: string
                style_number:
                  type: string
                size:
                  type: string
              required:
                - nfc_id
                - style_number
                - size
      parameters:
        - schema:
            type: string
          in: header
          name: Accesstoken
          description: User identification
          required: true
  /addorderid:
    post:
      summary: Product update
      operationId: post-addorderid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: object
                    description: Not used in code; 200 code status sufficient
                required:
                  - code
                  - msg
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                upc_code:
                  type: string
                order_number:
                  type: string
                tag_id:
                  type: string
                product_id:
                  type: string
                price:
                  type: string
              required:
                - upc_code
                - order_number
                - tag_id
                - product_id
                - price
            examples: {}
      parameters:
        - schema:
            type: string
          in: header
          name: Accesstoken
          description: User identification
          required: true
  /attachnfc:
    post:
      summary: Attach tag
      operationId: post-attachnfc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                required:
                  - code
                  - msg
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                nfc_id:
                  type: string
                upc_id:
                  type: string
                user_id:
                  type: string
                product_id:
                  type: string
                product_size:
                  type: string
                product_price:
                  type: string
                order_id:
                  type: string
              required:
                - nfc_id
                - upc_id
                - user_id
                - product_id
                - product_size
                - product_price
      parameters:
        - schema:
            type: string
          in: header
          name: Accesstoken
          description: User identification
          required: true
  /claimproductlist:
    get:
      summary: Get product list with type
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/OwnershipHistoryModal'
                required:
                  - code
                  - msg
                  - result
      operationId: get-getOwnedProducts
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                page_number:
                  type: integer
                type:
                  type: array
                  items:
                    type: integer
              required:
                - page_number
                - type
      parameters:
        - schema:
            type: string
          in: header
          name: Accesstoken
          description: User identification
          required: true
    parameters: []
  /merchant-history:
    get:
      summary: Get merchant history
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductHistoryList'
                required:
                  - code
                  - msg
                  - result
      operationId: get-merchant-history
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                page_number:
                  type: integer
              required:
                - page_number
      parameters:
        - schema:
            type: string
          in: header
          name: Accesstoken
          description: User identification
          required: true
  /accept-reject-claim:
    post:
      summary: Reject product
      operationId: post-accept-reject-claim
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                required:
                  - code
                  - msg
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                claim_id:
                  type: string
                type:
                  type: string
              required:
                - claim_id
                - type
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties: {}
      parameters:
        - schema:
            type: string
          in: header
          name: Accesstoken
          description: User identification
          required: true
  /google:
    post:
      summary: Sign In with Goole
      operationId: post-google
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: object
                    description: ''
                    required:
                      - access_token
                      - login_type
                    properties:
                      access_token:
                        type: string
                      login_type:
                        type: string
                required:
                  - code
                  - msg
                  - result
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                full_name:
                  type: string
                gplus_id:
                  type: string
                device_token:
                  type: string
                device_type:
                  type: string
                login_type:
                  type: string
                user_type:
                  type: string
                shoes_size:
                  type: string
                device_id:
                  type: string
                image:
                  type: string
              required:
                - email
                - full_name
                - gplus_id
                - device_token
                - device_type
                - login_type
                - user_type
      tags:
        - authorization
  /facebook:
    post:
      summary: Sign In with Facebook
      operationId: post-facebook
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: object
                    required:
                      - login_type
                      - access_token
                    properties:
                      login_type:
                        type: string
                      access_token:
                        type: string
                required:
                  - code
                  - msg
                  - result
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                full_name:
                  type: string
                fb_id:
                  type: string
                device_token:
                  type: string
                device_type:
                  type: string
                login_type:
                  type: string
                image:
                  type: string
                user_type:
                  type: string
                shoes_size:
                  type: string
                device_id:
                  type: string
              required:
                - email
                - fb_id
                - device_token
                - device_type
                - login_type
                - user_type
                - device_id
      tags:
        - authorization
  /resetpass:
    post:
      summary: Reset password
      operationId: post-resetpass
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                required:
                  - msg
      tags:
        - password
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                password:
                  type: string
              required:
                - user_id
                - password
      description: Api for change password
      parameters:
        - schema:
            type: string
          in: header
          name: Accesstoken
          description: User identification
          required: true
  /logout:
    get:
      summary: Logout
      tags:
        - authorization
      responses:
        '200':
          description: OK
      parameters:
        - schema:
            type: string
          in: header
          name: Accesstoken
          description: User identification
          required: true
      operationId: get-logout
  /viewprofile:
    get:
      summary: Get user or merchant profile
      tags:
        - Profile
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  result:
                    $ref: '#/components/schemas/ProfileModel'
                required:
                  - code
                  - msg
                  - result
      operationId: get-viewprofile
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user_type:
                  type: string
              required:
                - user_type
      parameters:
        - schema:
            type: string
          in: header
          name: Accesstoken
          description: User identification
          required: true
      description: ''
  /usereditprofile:
    post:
      summary: Edit user profile
      operationId: post-usereditprofile
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  result:
                    $ref: '#/components/schemas/ProfileModel'
                required:
                  - code
                  - msg
      parameters:
        - schema:
            type: string
          in: header
          name: Accesstoken
          description: User identification
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                shoes_size:
                  type: string
              required:
                - name
                - shoes_size
      tags:
        - Profile
  /addproduct:
    post:
      summary: Add product
      operationId: post-addproduct
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                required:
                  - code
                  - msg
      parameters:
        - schema:
            type: string
          in: header
          name: Accesstoken
          description: User identification
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                upc_code:
                  type: string
                style_number:
                  type: string
                product_name:
                  type: string
                product_size:
                  type: string
                color:
                  type: string
                category:
                  type: string
                product_image:
                  type: string
                price:
                  type: string
              required:
                - upc_code
                - style_number
                - product_name
                - product_size
                - color
                - category
                - product_image
                - price
  /product/addupc:
    post:
      summary: Add upc code to the product
      operationId: post-product-addupc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                required:
                  - code
                  - msg
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                product_size:
                  type: string
                product_price:
                  type: string
                product_id:
                  type: string
                upc_id:
                  type: string
              required:
                - product_size
                - product_price
                - product_id
                - upc_id
      parameters:
        - schema:
            type: string
          in: header
          name: Accesstoken
          description: User identification
          required: true
  /change_password:
    post:
      summary: Сhange password
      operationId: post-change_password
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                required:
                  - code
                  - msg
      tags:
        - password
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                old_password:
                  type: string
                new_password:
                  type: string
              required:
                - old_password
                - new_password
      parameters:
        - schema:
            type: string
          in: header
          name: Accesstoken
          description: User identification
          required: true
  /edit_merchant_profile:
    post:
      summary: Edit merchant profile
      operationId: post-edit_merchant_profile
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  result:
                    $ref: '#/components/schemas/ProfileModel'
                required:
                  - code
                  - msg
                  - result
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                full_name:
                  type: string
                phone:
                  type: string
                selling_plateform:
                  type: array
                  items:
                    $ref: '#/components/schemas/SellingPlatform'
                sales_per_month:
                  type: string
                '':
                  type: string
                store_name:
                  type: string
                address:
                  type: string
                store_logo:
                  type: string
                website:
                  type: string
                image:
                  type: string
              required:
                - full_name
                - phone
                - selling_plateform
                - sales_per_month
                - ''
                - store_name
                - address
                - store_logo
                - website
                - image
        description: All fields are required but may be empty
      parameters:
        - schema:
            type: string
          in: header
          name: Accesstoken
          description: User identification
          required: true
      tags:
        - Profile
  /claimproduct:
    post:
      summary: Claim product
      operationId: post-claimproduct
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                required:
                  - code
                  - msg
      parameters:
        - schema:
            type: string
          in: header
          name: Accesstoken
          description: User identification
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                request_owner_id:
                  type: string
                parent_owner_id:
                  type: string
                product_id:
                  type: string
                nfc_id:
                  type: string
                upc_id:
                  type: string
                order_id:
                  type: string
                type:
                  type: string
                latitude:
                  type: number
                longitude:
                  type: number
                address:
                  type: string
                product_size:
                  type: string
                product_price:
                  type: string
                merchant_id:
                  type: string
              required:
                - request_owner_id
                - parent_owner_id
                - product_id
                - nfc_id
                - upc_id
                - order_id
                - type
                - latitude
                - longitude
                - address
                - product_size
                - product_price
                - merchant_id
        description: All fields are required but may be empty
  /digi-deed:
    get:
      summary: Get product history
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductHistory'
                required:
                  - code
                  - msg
                  - result
      operationId: get-digi-deed
      description: ''
      parameters:
        - schema:
            type: string
          in: header
          name: Accesstoken
          description: User identification
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                product_id:
                  type: string
                nfc_id:
                  type: string
              required:
                - product_id
                - nfc_id
  /merchantprofile:
    get:
      summary: Get merchant profile
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  result:
                    $ref: '#/components/schemas/ProfileModel'
                required:
                  - code
                  - msg
                  - result
      operationId: get-merchantprofile
      parameters:
        - schema:
            type: string
          in: header
          name: Accesstoken
          description: User identification
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                merchant_id:
                  type: string
              required:
                - merchant_id
      tags:
        - Profile
components:
  schemas:
    ProductData:
      title: ProductDetail
      type: object
      properties:
        authenticated_on:
          type: string
        owner_name:
          type: string
        store_logo:
          type: string
        owner_id:
          type: string
        is_you_owner:
          type: boolean
        request_status:
          type: string
        merchant_name:
          type: string
        order_id:
          type: string
        parent_owner_id:
          type: string
        user_type:
          type: string
        current_user_status:
          type: string
        upc_number:
          type: string
        tag_id:
          type: string
        style_number:
          type: string
        release_year:
          type: string
        product_stock:
          type: string
        product_size:
          type: string
        product_price:
          type: string
        product_name:
          type: string
        product_image:
          type: string
        product_id:
          type: string
        product_color:
          type: string
        order_number:
          type: string
        modal_number:
          type: string
        category:
          type: string
        brand_name:
          type: string
      required:
        - authenticated_on
        - order_id
        - parent_owner_id
        - user_type
        - current_user_status
        - upc_number
        - tag_id
        - style_number
        - release_year
        - product_stock
        - product_size
        - product_price
        - product_name
        - product_image
        - product_id
        - product_color
        - order_number
        - modal_number
        - category
        - brand_name
      description: ''
    OwnerShipHistoryModal:
      title: OwnershipHistoryModal
      type: object
      properties:
        product_name:
          type: string
        style_number:
          type: string
        product_image:
          type: string
        color:
          type: string
        category:
          type: string
        brand_name:
          type: string
        release_year:
          type: string
        product_size:
          type: string
        product_price:
          type: string
        upc_number:
          type: string
        claim_id:
          type: string
        address:
          type: string
        request_status:
          type: string
        latitude:
          type: string
        longitude:
          type: string
        full_name:
          type: string
        product_id:
          type: string
        tag_id:
          type: string
        lastCount:
          type: integer
        sold_status:
          type: boolean
      required:
        - product_name
        - style_number
        - product_image
        - color
        - category
        - brand_name
        - release_year
        - product_size
        - product_price
        - upc_number
        - claim_id
        - address
        - request_status
        - latitude
        - longitude
        - full_name
        - product_id
        - tag_id
        - lastCount
        - sold_status
    ApiVersionModel:
      title: ApiVersionModel
      type: object
      properties:
        version_name:
          type: string
        platform:
          type: integer
        update_type:
          type: integer
      required:
        - version_name
        - platform
        - update_type
    ProductHistoryList:
      title: ProductHistoryList
      type: object
      properties:
        product_name:
          type: string
        style_number:
          type: string
        product_image:
          type: string
        brand_name:
          type: string
        release_year:
          type: string
        product_size:
          type: string
        product_id:
          type: string
        product_color:
          type: string
        upc:
          type: string
        product_price:
          type: string
        tag_id:
          type: string
        sold_status:
          type: boolean
        sold_date:
          type: string
        category:
          type: string
      required:
        - product_name
        - style_number
        - product_image
        - brand_name
        - release_year
        - product_size
        - product_id
        - product_color
        - upc
        - product_price
        - tag_id
        - sold_status
        - sold_date
        - category
    ProfileModel:
      title: ProfileModel
      type: object
      properties:
        full_name:
          type: string
        email:
          type: string
        address:
          type: string
        shoes_size:
          type: string
        year_since_first_sale:
          type: string
        user_id:
          type: string
        phone:
          type: string
        store_name:
          type: string
        selling_plateform:
          type: array
          items:
            $ref: '#/components/schemas/SellingPlatform'
        website:
          type: string
        sales_per_month:
          type: string
        image:
          type: string
        store_logo:
          type: string
        login_type:
          type: string
      required:
        - full_name
        - email
        - address
        - shoes_size
        - year_since_first_sale
        - user_id
        - phone
        - store_name
        - selling_plateform
        - website
        - sales_per_month
        - image
        - store_logo
        - login_type
    SellingPlatform:
      title: SellingPlatform
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        user_name:
          type: string
      required:
        - id
        - name
    ProductHistory:
      title: ProductHistory
      type: object
      properties:
        owner_name:
          type: string
        seller_name:
          type: string
        user_type:
          type: integer
        created_at:
          type: string
        address:
          type: string
        latitude:
          type: number
        longitude:
          type: number
      required:
        - owner_name
        - seller_name
        - user_type
        - created_at
        - address
        - latitude
        - longitude
  securitySchemes:
    Authorization:
      type: http
      scheme: basic
security:
  - Authorization: []
