openapi: 3.0.0
info:
  title: client
  version: '1.0'
servers:
  - url: 'http://nfcstage.appskeeper.com/api'
paths:
  /apiversion:
    get:
      summary: Current app version
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  result:
                    $ref: '#/components/schemas/ApiVersionModel'
              examples:
                example:
                  value:
                    code: 200
                    msg: Success
                    result:
                      version_name: '1.1'
                      platform: '1'
                      update_type: '1'
            application/xml:
              schema:
                type: object
                properties: {}
              examples: {}
      operationId: get-api-version
      description: API to get the current version of the application
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                platform:
                  type: string
    parameters: []
  /normal:
    post:
      summary: Sign Up for client
      operationId: post-normal
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                login_type:
                  type: string
                password:
                  type: string
                full_name:
                  type: string
                shoes_size:
                  type: string
                device_id:
                  type: string
                user_type:
                  type: string
                device_token:
                  type: string
                device_type:
                  type: string
                email:
                  type: string
                image:
                  type: string
              required:
                - login_type
                - password
                - full_name
                - shoes_size
                - device_id
                - user_type
                - device_token
                - email
            examples: {}
      description: ''
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
        - schema:
            type: string
          in: header
          name: content-type
          description: ''
    parameters: []
  /login:
    post:
      summary: Sign In
      operationId: post-login
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: number
                  result:
                    type: object
                    properties:
                      access_token:
                        type: string
                      login_type:
                        type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                login_type:
                  type: string
                device_type:
                  type: string
                device_id:
                  type: string
                email:
                  type: string
                password:
                  type: string
                device_token:
                  type: string
              required:
                - login_type
                - device_type
                - email
                - password
                - device_token
      description: Api for authorization
      tags:
        - authorization
  /plateformlist:
    get:
      summary: Get sales platform list
      tags: []
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: object
                    properties:
                      selling_platefrom_id:
                        type: integer
                      selling_plateform_title:
                        type: string
      operationId: get-plateformlist
      description: Api for merchant account
  /merchant:
    post:
      summary: Create merchant account
      operationId: post-merchant
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: object
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                full_name:
                  type: string
                email:
                  type: string
                phone:
                  type: string
                login_type:
                  type: string
                user_type:
                  type: string
                device_type:
                  type: string
                user_lat:
                  type: string
                user_long:
                  type: string
                address:
                  type: string
                website:
                  type: string
                selling_plateform:
                  type: string
                sales_per_month:
                  type: string
                year_since_first_sale:
                  type: string
                store_name:
                  type: string
                device_token:
                  type: string
                device_id:
                  type: string
                image:
                  type: string
              required:
                - full_name
                - email
                - phone
                - login_type
                - user_type
                - device_type
                - user_lat
                - user_long
                - address
                - year_since_first_sale
                - device_token
                - device_id
      description: ''
  /forgot:
    post:
      summary: Forgot password
      operationId: post-forgot
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
              required:
                - email
      description: API for authorization changes
      tags:
        - password
  /userproductdetail:
    get:
      summary: Get product detail info for client
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  result:
                    $ref: '#/components/schemas/ProductDetail'
              examples: {}
      operationId: get-userproductdetail
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                nfc_id:
                  type: string
  /productdetail:
    get:
      summary: Get product detail info for client
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  result:
                    $ref: '#/components/schemas/ProductDetail'
      operationId: get-productdetail
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                nfc_id:
                  type: string
                style_number:
                  type: string
                size:
                  type: string
              required:
                - nfc_id
  /addorderid:
    post:
      summary: Product update
      operationId: post-addorderid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: object
                    description: Not used in code; 200 code status sufficient
                required:
                  - code
                  - msg
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                upc_code:
                  type: string
                order_number:
                  type: string
                tag_id:
                  type: string
                product_id:
                  type: string
            examples: {}
  /attachnfc:
    post:
      summary: Attach tag
      operationId: post-attachnfc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                required:
                  - code
                  - msg
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                nfc_id:
                  type: string
                upc_id:
                  type: string
                user_id:
                  type: string
                product_id:
                  type: string
                product_size:
                  type: string
                product_price:
                  type: string
                order_id:
                  type: string
              required:
                - nfc_id
                - upc_id
                - user_id
                - product_id
                - product_size
                - product_price
  /claimproductlist:
    get:
      summary: Get owned products
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/OwnershipHistoryModal'
      operationId: get-getOwnedProducts
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                page_number:
                  type: integer
                type:
                  type: integer
              required:
                - page_number
                - type
    parameters: []
  /merchant-history:
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductHistoryList'
      operationId: get-merchant-history
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                page_number:
                  type: integer
  /accept-reject-claim:
    post:
      summary: Claim product
      operationId: post-accept-reject-claim
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                claim_id:
                  type: string
                type:
                  type: string
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties: {}
  /google:
    post:
      summary: Sign In with Goole
      operationId: post-google
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  result:
                    type: object
                    description: |
                      there is no description of the contents of this parameter in the code, but everything is stored locally.
                required:
                  - code
                  - msg
                  - result
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                full_name:
                  type: string
                gplus_id:
                  type: string
                device_token:
                  type: string
                device_type:
                  type: string
                login_type:
                  type: string
                user_type:
                  type: string
                shoes_size:
                  type: string
                device_id:
                  type: string
                image:
                  type: string
              required:
                - email
                - full_name
                - gplus_id
                - device_token
                - device_type
                - login_type
                - user_type
      tags:
        - authorization
components:
  schemas:
    ProductDetail:
      title: ProductDetail
      type: object
      properties:
        authenticated_on:
          type: string
        owner_name:
          type: string
        store_logo:
          type: string
        owner_id:
          type: string
        is_you_owner:
          type: boolean
        request_status:
          type: string
        merchant_name:
          type: string
        order_id:
          type: string
        parent_owner_id:
          type: string
        user_type:
          type: string
        current_user_status:
          type: string
        upc_number:
          type: string
        tag_id:
          type: string
        style_number:
          type: string
        release_year:
          type: string
        product_stock:
          type: string
        product_size:
          type: string
        product_price:
          type: string
        product_name:
          type: string
        product_image:
          type: string
        product_id:
          type: string
        product_color:
          type: string
        order_number:
          type: string
        modal_number:
          type: string
        category:
          type: string
        brand_name:
          type: string
      required:
        - authenticated_on
        - order_id
        - parent_owner_id
        - user_type
        - current_user_status
        - upc_number
        - tag_id
        - style_number
        - release_year
        - product_stock
        - product_size
        - product_price
        - product_name
        - product_image
        - product_id
        - product_color
        - order_number
        - modal_number
        - category
        - brand_name
      description: ''
    OwnershipHistoryModal:
      title: OwnershipHistoryModal
      type: object
      properties:
        product_name:
          type: string
        style_number:
          type: string
        product_image:
          type: string
        color:
          type: string
        category:
          type: string
        brand_name:
          type: string
        release_year:
          type: string
        product_size:
          type: string
        product_price:
          type: string
        upc_number:
          type: string
        claim_id:
          type: string
        address:
          type: string
        request_status:
          type: string
        latitude:
          type: string
        longitude:
          type: string
        full_name:
          type: string
        product_id:
          type: string
        tag_id:
          type: string
        lastCount:
          type: integer
        sold_status:
          type: boolean
    ApiVersionModel:
      title: ApiVersionModel
      type: object
      properties:
        version_name:
          type: string
        platform:
          type: integer
        update_type:
          type: integer
    ProductHistoryList:
      title: ProductHistoryList
      type: object
      properties:
        product_name:
          type: string
        style_number:
          type: string
        product_image:
          type: string
        brand_name:
          type: string
        release_year:
          type: string
        product_size:
          type: string
        product_id:
          type: string
        product_color:
          type: string
        upc:
          type: string
        product_price:
          type: string
        tag_id:
          type: string
        sold_status:
          type: boolean
        sold_date:
          type: string
        category:
          type: string
  securitySchemes:
    Authorization:
      type: http
      scheme: basic
